@font-face { 
        font-family: 'Hack Regular';
        src: url(/fonts/Hack/Hack-Regular.ttf);
}
@font-face { 
        font-family: 'Hack Italic';
        src: url(/fonts/Hack/Hack-Italic.ttf);
}
@font-face { 
        font-family: 'Hack Bold';
        src: url(/fonts/Hack/Hack-Bold.ttf);
}
@font-face { 
        font-family: 'Hack Bold Italic';
        src: url(/fonts/Hack/Hack-BoldItalic.ttf);
}
@font-face {
	font-family: 'Hack';
	src: url(/fonts/Hack/Hack-Regular.ttf);
}
