@font-face { 
        font-family: 'Ubuntu Mono Regular';
        src: url(fonts/UbuntuMono/UbuntuMono-Regular.ttf);
}
@font-face { 
        font-family: 'Ubuntu Mono Italic';
        src: url(fonts/UbuntuMono/UbuntuMono-Italic.ttf);
}
@font-face { 
        font-family: 'Ubuntu Mono Bold';
        src: url(fonts/UbuntuMono/UbuntuMono-Bold.ttf);
}
@font-face { 
        font-family: 'Ubuntu Mono Bold Italic';
        src: url(fonts/UbuntuMono/UbuntuMono-BoldItalic.ttf);
}
