@font-face {
	font-family: 'Roboto Regular';
	src: url(https://raw.githubusercontent.com/TheRedXD/is-a-dev.github.io/patch-1/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face { 
        font-family: 'Roboto Medium';
        src: url(https://raw.githubusercontent.com/TheRedXD/is-a-dev.github.io/patch-1/fonts/Roboto/Roboto-Medium.ttf);
}
@font-face { 
        font-family: 'Roboto Thin';
        src: url(https://raw.githubusercontent.com/TheRedXD/is-a-dev.github.io/patch-1/fonts/Roboto/Roboto-Thin.ttf);
}
@font-face { 
        font-family: 'Roboto Light';
        src: url(https://raw.githubusercontent.com/TheRedXD/is-a-dev.github.io/patch-1/fonts/Roboto/Roboto-Light.ttf);
}
@font-face { 
        font-family: 'Roboto Bold';
        src: url(https://raw.githubusercontent.com/TheRedXD/is-a-dev.github.io/patch-1/fonts/Roboto/Roboto-Bold.ttf);
}
@font-face { 
        font-family: 'Roboto Black';
        src: url(https://raw.githubusercontent.com/TheRedXD/is-a-dev.github.io/patch-1/fonts/Roboto/Roboto-Black.ttf);
}
@font-face { 
        font-family: 'Roboto Regular Italic';
        src: url(https://raw.githubusercontent.com/TheRedXD/is-a-dev.github.io/patch-1/fonts/Roboto/Roboto-RegularItalic.ttf);
}
@font-face { 
        font-family: 'Roboto Medium Italic';
        src: url(https://raw.githubusercontent.com/TheRedXD/is-a-dev.github.io/patch-1/fonts/Roboto/Roboto-MediumItalic.ttf);
}
@font-face { 
        font-family: 'Roboto Thin Italic';
        src: url(https://raw.githubusercontent.com/TheRedXD/is-a-dev.github.io/patch-1/fonts/Roboto/Roboto-ThinItalic.ttf);
}
@font-face { 
        font-family: 'Roboto Light Italic';
        src: url(https://raw.githubusercontent.com/TheRedXD/is-a-dev.github.io/patch-1/fonts/Roboto/Roboto-LightItalic.ttf);
}
@font-face { 
        font-family: 'Roboto Bold Italic';
        src: url(https://raw.githubusercontent.com/TheRedXD/is-a-dev.github.io/patch-1/fonts/Roboto/Roboto-BoldItalic.ttf);
}
@font-face { 
        font-family: 'Roboto Black Italic';
        src: url(https://raw.githubusercontent.com/TheRedXD/is-a-dev.github.io/patch-1/fonts/Roboto/Roboto-BlackItalic.ttf);
}
