html {
    --header-bg: #0f0c19;
    --accent: #4e3aA3;
    --body-fg: #9b7dff;

    margin: 0;
    padding: 0;
    background-color: #0f0c19;
    color: var(--body-fg);

    font-family: 'Roboto Regular', sans-serif;
    padding: 20px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0f0c19;
    color: var(--body-fg);
    overflow: hidden;
    /* Hides the scrollbar for the body */
}

body * {
    box-sizing: border-box;
    line-height: 1.5em;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

.error-container h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.error-container p {
    font-size: 1.2rem;
    color: #666;
}

.error-container a {
    color: #009688;
    text-decoration: none;
}

.error-container a:hover {
    text-decoration: underline;
}

/* Selection */
::-moz-selection {
    color: #fff;
    background: var(--accent);
}
::selection {
    color: #fff;
    background: var(--accent);
}
