/* Credit: JS.ORG */

#carbonads {
    display: flex;
    max-width: 130px;
    background-color: #fff;
    font-size: 11px;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen-Sans, Ubuntu, Cantarell, helvetica neue,
        Helvetica, Arial, sans-serif;
}

#carbonads * {
    margin: initial;
    padding: initial;
}

#carbonads a {
    color: #111;
    text-decoration: none;
    font-weight: 500;
}

#carbonads a:hover {
    color: #111;
}

#carbonads .carbon-img {
    display: block;
    margin-bottom: 8px;
    max-width: 130px;
    line-height: 1;
}

#carbonads .carbon-img img {
    display: block;
    margin: 0 auto;
    max-width: 130px;
    width: 130px;
    height: auto;
}

#carbonads .carbon-text {
    display: block;
    padding: 0 10px 8px;
    text-align: left;
    line-height: 1.35;
}

#carbonads .carbon-poweredby {
    display: none;
}

@media only screen and (min-width: 560px) {
    #carbonads {
        max-width: 400px;
    }

    #carbonads .carbon-wrap {
        display: flex;
        flex-direction: row;
    }

    #carbonads .carbon-img {
        margin: 0;
    }

    #carbonads .carbon-text {
        padding: 10px 10px 0;
        font-size: 12px;
    }
}
