html,
body {
    --header-bg: linear-gradient(90deg, #1a1331, #4e3aa3);
    --accent: #7041ff;
    --body-fg: #d1c4ff;
    --hover-bg: #4e3aa3;
    --hover-accent: #9b7dff;

    margin: 0;
    padding: 0;
    background-color: #0f0c19;
    color: var(--body-fg);
    font-family: "Roboto Regular", sans-serif;
    line-height: 1.6;
    padding: 20px;
}

body * {
    box-sizing: border-box;
}

main > p {
    font-family: "Ubuntu Mono Regular";
}

a:hover {
    color: var(--hover-accent);
    background-color: var(--hover-bg);
    border-radius: 5px;
    padding: 0 5px;
    transition: 0.3s ease-in-out;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #0f0c19;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--hover-accent);
}

main {
    padding: 2em;
    margin: 1em auto;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/* Banner */
main .banner {
    font-size: 2.5rem;
    color: var(--body-fg);
    text-align: center;
    background: var(--header-bg);
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

main .banner img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
}

/* Paragraphs */
main p {
    padding-left: 15px;
    border-left: 3px solid var(--accent);
    border-radius: 5px;
    margin-bottom: 1em;
}

/* Headings */
h1 {
    font-size: 2.5rem;
    color: var(--body-fg);
    text-align: center;
    background: var(--header-bg);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: var(--accent);
    border-bottom: 2px solid var(--accent);
    padding-bottom: 5px;
}

/* Links */
a {
    color: var(--accent);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: var(--accent); /* Ensures the color remains the same */
    background-color: transparent; /* No background change */
}

/* Carbon Ads */
#carbonads {
    padding-top: 20px;
}

#carbonads .carbon-poweredby {
    color: #ffffff;
}
